<div class="card flex rounded-lg">
  <app-form-wrapper [formGroup]="registerFormGroup" (submitOutput)="onSubmit()">
    <h2 class="text-left text-2xl font-bold text-slate-200">
      Sign up to your account
    </h2>

    <div class="flex flex-col gap-4">
      <input
        pInputText
        type="text"
        placeholder="Username..."
        formControlName="username"
      />

      <input
        pInputText
        type="email"
        placeholder="Email..."
        formControlName="email"
      />

      <p-password
        placeholder="Password..."
        [toggleMask]="true"
        formControlName="password"
      />
    </div>

    <button
      pButton
      type="submit"
      class="w-full text-white"
      [label]="isSubmitting ? 'Loading...' : 'Sign up'"
      [disabled]="isSubmitting || registerFormGroup.invalid"
    ></button>

    <app-form-redirect-action
      title="Already have an account?"
      buttonLabel="Sign in"
      href="/login"
    ></app-form-redirect-action>
  </app-form-wrapper>
  <app-form-card
    title="Welcome to Finance Tracker!"
    description="Sign up to your account"
    class="skew-y-2 rounded-l-2xl rounded-r-lg"
  />
</div>

<p-toast />
