<form
  class="form flex flex-col border border-slate-800 rounded-md p-8 gap-16 items-center bg-black"
  [formGroup]="loginFormGroup"
  (ngSubmit)="onSubmit()"
>
  <h2 class="text-left text-2xl font-bold text-slate-200">
    Sign in to your account
  </h2>
  <div class="flex flex-col gap-4">
    <input
      pInputText
      type="text"
      placeholder="Username..."
      formControlName="username"
    />
    <p-password
      placeholder="Password..."
      [feedback]="false"
      [toggleMask]="true"
      formControlName="password"
    />
  </div>

  <button
    pButton
    type="submit"
    class="w-full text-white"
    [label]="loginFormGroup.status !== 'PENDING' ? 'Sign in' : ''"
  ></button>
</form>
