<div class="card flex rounded-lg">
  <app-form-card title="Welcome back!" description="Sign in to your account" />

  <app-form-wrapper [formGroup]="loginFormGroup" (submitOutput)="onSubmit()">
    <h2 class="text-left text-2xl font-bold text-slate-200">
      Sign in to your account
    </h2>

    <div class="flex flex-col gap-4">
      <input
        pInputText
        type="text"
        placeholder="Username..."
        formControlName="username"
      />
      <p-password
        placeholder="Password..."
        [feedback]="false"
        [toggleMask]="true"
        formControlName="password"
      />
    </div>

    <button
      pButton
      type="submit"
      class="w-full text-white"
      [label]="isSubmitting() ? 'Loading...' : 'Sign in'"
      [disabled]="isSubmitting() || loginFormGroup.invalid"
    ></button>

    <app-form-redirect-action
      title="No account?"
      buttonLabel="Sign up"
      href="/register"
    ></app-form-redirect-action>
  </app-form-wrapper>
</div>

<p-toast />
